TOKEN = "MTAzOTIyODQxMzM2NzU1ODE5NQ.GLXr_o.zQ4CAugfgG-oQCZktEljxK_PDalfv1h49feTd0"
BOT_NAME = "Big PP"
OWNER_ID = "552998962055872515"
PREFIX = ","
PLAYING = "with ur mom"

EMBED_COLOR = "#6f6fff"

DEFAULT_VOLUME = 50
MAX_VOLUME = 100
AUTO_LEAVE = true
AUTO_LEAVE_COOLDOWN = 5000
DISPLAY_VOICE_STATE = true
PORT = 33333

TEXT_QUERY_TYPE = "spotifySearch"
URL_QUERY_TYPE = "auto"
DP_FORCE_YTDL_MOD = "@distube/ytdl-core"

MONGO_URL = "mongodb+srv://hhhunterwolff:HhHunterwolf1@qemageneral.xhvh26g.mongodb.net/"

WORK_COOLDOWN = 10000